<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seata.account.dao.AccountMapper">


  <select id="selectByUserId"  resultType="com.seata.account.domain.Account">
    select * from t_account where user_id =#{userId}

  </select>


    <update id="decrease" >
        update   t_account   set  residue = residue - #{money} , used = used + #{money}  where user_id =#{userId}
    </update>

</mapper>
